<!DOCTYPE html>
<html data-theme="light" class="has-navbar-fixed-top">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Overview</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body>

	<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="/">
				Home
			</a>
	
			<a class="navbar-item" href="/create">
				Add Set
			</a>
			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>
		<div id="navMenu" class="navbar-menu">
			<div class="navbar-start">
	
			</div>
	
			<div class="navbar-end">
				
			</div>
		</div>
	</nav>
	<center>
	<div class="center-table" >
		<table id="data" class="table">
			<thead>
			  <tr>
				<th ></th>
				<th >id</th>
				<th >part_num</th>
				<th >color_id</th>
				<th >element_id</th>
				<th >total_quantity</th>
			  </tr>
			</thead>
			<tbody>
			  {% for brick in missing_list %}
				<tr>
					{% if brick[4] == 'nil' %}
					<td><img src="{{ '/static/none.jpg' }}" class="lightbox-trigger" style="height: 50px; width: 50px;margin:0;padding: 0;" loading="lazy"></td>
					{% else %}
					<td><img src="{{ '/static/parts/' + brick[4] + '.jpg' }}" class="lightbox-trigger" style="height: 50px; width: 50px;margin:0;padding: 0;" loading="lazy"></td>
					{% endif %}
				  <td>{{ brick[0] }}</td>
				  <td>{{ brick[1] }}</td>
				  <td>{{ brick[2] }}</td>
				  <td>{{ brick[3] }}</td>
				  <td>{{ brick[5] }}</td>			 
				</tr>
			  {% endfor %}
			</tbody>
		  </table>
		</div>
	</center>
	<script>
	</script>
  </body>
</html>
